
/*color pallette*/

/*#247ba0 blue*/
/*#70c1b3 lught blue*/
/*#b2dbbf lighter blue*/
/*#f3ffbd beige*/
/*#ff1654 red*/



body {
/*background-color: #dcefe2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23247ba0' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23f3ffbd' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%233389a4' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23f5d0a8' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%234297a8' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23f8a293' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2352a5ab' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23fa737e' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2361b3af' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23fd4569' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2370c1b3' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23ff1654' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;*/
  /*background-color: #dcefe2;*/
  color: #333;
  font-family: 'Montserrat', sans-serif;
  /*background-color: #f3ffbd;*/
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.gradient {
 background: rgb(112,193,179);
background: linear-gradient(180deg, rgba(112,193,179,1) 0%, rgba(255,255,255,1) 100%); 
}

.header{
  transition: all 0.5s ease;
}

.wrapper p{
	animation-delay: 2s;
	display: inline-block;
}

.wrapper i{
	animation-delay: 2.5s;
}

.text-area span{
	display: inline-block;
}

.animation-area span:nth-of-type(1){
	animation-delay: 0.5s;
}
.animation-area span:nth-of-type(2){
	animation-delay: 0.6s;
}
.animation-area span:nth-of-type(4){
	animation-delay: 0.7s;
}
.animation-area span:nth-of-type(5){
	animation-delay: 0.8s;
}
.animation-area span:nth-of-type(6){
	animation-delay: 0.9s;
}
.animation-area span:nth-of-type(7){
	animation-delay: 1s;
}
.animation-area span:nth-of-type(8){
	animation-delay: 1.1s;
}
.animation-area span:nth-of-type(9){
	animation-delay: 1.2s;
}
.animation-area span:nth-of-type(10){
	animation-delay: 1.3s;
}
.animation-area span:nth-of-type(11){
	animation-delay: 1.4s;
}

.animation-area img{
	animation-delay: 0s;
}

.nav-height{
	height: 4.5rem;
}

.collapsible {
  /*background-color: #eee;*/
  /*color: #444;*/
  cursor: pointer;
  /*padding: 18px;*/
  /*width: 100%;*/
  /*border: none;*/
  /*text-align: left;*/
  /*outline: none;*/
  /*font-size: 15px;*/
}

.active, .collapsible:hover {
  /*background-color: #ccc;*/
}



.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}



.h-28 {
	height: 7rem;
}
.box {
  position: fixed;
  top: 40%;
  left: 55%;
  /*transform: rotate(80deg); */
  /*left: 0;*/
  z-index: -1;
}

.wave {
  position: absolute;
  /*opacity: .4;*/
  width: 160vw;
  height: 135vw;
  /*margin-left: 500px;*/
  /*margin-top: -800px;*/
  border-radius: 50%;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.wave.-one {
  /*transform: rotate(80deg);*/
  animation: rotate 20000ms infinite linear;
  will-change: transform;
  /*opacity: .2;*/
  background: #247ba0;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.wave.-two {
  /*transform: rotate(120deg);*/
  animation: rotate 27000ms infinite linear;
  will-change: transform;
  /*opacity: .2;*/
  background: #b2dbbf;
}

.wave.-three {
  /*transform: rotate(150deg);*/
  /*top: -10%;*/
  /*left: -10%;*/
  /*width: 90%;*/
  /*height: 90%;*/
  animation: rotate 29000ms infinite linear;
  will-change: transform;
  background-color: #f3ffbd;
}
