

body {
  background-color: #FFF;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

.gradient {
	background: linear-gradient(90deg, #d53369 0%, #daae51 100%);"
}

.header{
  transition: all 0.5s ease;
}

